.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 20px;
    padding: 20px;
    background-color: thistle;
}

.main {
    display: flex;
    flex-direction: column; 
    overflow-y: auto;
    width: 100%; 
}


h1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-style: bold;
    background-color: rgb(184, 227, 25);
}

.first, .second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: transparent;
    flex: 1; /* Ensure divs take equal space */
}

.first1, .second1, .first2, .second2, .first3, .second3 {
    background: darkmagenta;
    flex: 1;
